<footer>
    <div class="finfo">
        <div class="fsocials">
            <a href="https://www.facebook.com/Undiscover_India" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://twitter.com/Undiscover_India" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a>
            <a href="https://www.instagram.com/Undiscover_India" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.youtube.com/Undiscover_India" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        </div>


        <div class="finfolinks">
            <p> &copy; Undiscover_India Private Limited</p>
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms &amp; Conditions</a>
        </div>
    </div>
</footer>

